################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SudokuGame.Console/v16
/SudokuGame.Console/.vs/SudokuGame.Console/v16
/SudokuGame.Console/obj/Debug
/SudokuGame.Core/bin/Debug
/SudokuGame.Core/obj/Debug
/SudokuGame.WPF/bin/Debug
/SudokuGame.WPF/obj/Debug/TempPE
/SudokuGame.WPF/obj/Debug
