################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SudokuGame.Console/v16
/SudokuGame.Console/.vs/SudokuGame.Console/v16
/SudokuGame.Console/obj/Debug
/SudokuGame.Core/bin/Debug
/SudokuGame.Core/obj/Debug
/SudokuGame.WPF/bin/Debug
/SudokuGame.WPF/obj/Debug/TempPE
/SudokuGame.WPF/obj/Debug
/SniperGame/bin/Debug
/SniperGame/obj/Debug
/.vs/SaperGame/v16/.suo
/SniperGame.Core/bin/Debug
/SniperGame.Core/obj/Debug
/SniperGame.WinForms/obj/Debug
/SniperGame.WinForms/bin/Debug
